<meta charset="utf-8">
<!----SEO---->
<title> {{.Title}} {{.Params.tags}}</title>
        <meta name="keywords"  content="
        awareness practice,
        meditation at home,
        meditation apps free,
        meditation anxiety,
        meditation and yoga,
        a meditation app,
        meditation classes,
        mindfulness meditation,
        meditation for stress,
        meditation for anxiety,
        meditation free app,
        meditation for sleep,
        meditation for depression,
        meditation for healing,
        meditation guide,
        meditation lessons,
        meditation night,
        meditationhub.ga,
       meditation.ga 
        "
         >
         
        <meta name="author" content="Noureldin">
        <meta name="description" content="{{.Title}}{{.Params.dis}}{{.Params.tags}}">
        <link rel="shortcut icon" type="image/png" href="/imges/favicon/favicon.png">
        <!--OG-->
        <meta property="og:type" content="website"/>
        <meta property="og:site_name" content="meditationhub">
        <meta name="application-name" content="meditationhub">
        <meta property="og:title" content="{{.Title}}" />
        
        <meta property="og:description" content="
        {{if .Params.dis}}
        {{.Params.dis}}
        {{else}}
        meditationhub.ga the best meditation app for relaxing the mind and body and its free too
        {{end}}
        " />

        <meta property="og:image" content="
        {{if .Params.thumbnail}}
        {{.Params.thumbnail}}
        {{ else }}
        /imges/apple-touch-icon.png
        {{end}}"
         />
        <!----Adding Style---->
        <!----Responsive---->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!----Mobile Theme Color ---->
        <!-- Chrome, FireFox OS Opera -->
        <!-- Windows Phone -->
        <meta name="msapplication-navbutton-color" content="#212121">
        <!-- Safari/Ios -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <!-- icone -->
        <link rel="apple-touch-icon" sizes="76x76" href="/imges/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/imges/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/imges/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#EA5E5E">
        <meta name="msapplication-TileColor" content="#ea5e5e">
        <meta name="theme-color" content="#ea5e5e">
        <!--google-site-verification-->
        <meta name="google-site-verification" content="FT87F-Itccg-DIzdcItrbX2IC8VNrMRQ7ddrsiGxWnw" />