<meta charset="utf-8">
<!----SEO---->
<title> {{.Title}} {{.Params.dis}} </title>
        <meta name="keywords" {{.Title}},Meditation>
        <meta name="description" content="{{.Title}}{{.Params.dis}}">
        <link rel="shortcut icon" type="image/png" href="/imges/favicon/favicon.ico">
        <!--OG-->
        <meta property="og:type" content="website"/>
        <meta property="og:site_name" content="meditationhub">
        <meta name="application-name" content="meditationhub">
        <meta property="og:title" content="{{.Title}}" />
        
        <meta property="og:description" content="
        {{if .Params.dis}}
        {{.Params.dis}}
        {{else}}
        the best meditation app for relaxingthe mind and body
        {{end}}
        " />

        <meta property="og:image" content="
        {{if .Params.thumbnail}}
        {{.Params.thumbnail}}
        {{ else }}
        /imges/apple-touch-icon.png
        {{end}}"
         />
        <!----Adding Style---->
        <!----Responsive---->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!----Mobile Theme Color ---->
        <!-- Chrome, FireFox OS Opera -->
        <!-- Windows Phone -->
        <meta name="msapplication-navbutton-color" content="#212121">
        <!-- Safari/Ios -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <!-- icone -->
        <link rel="apple-touch-icon" sizes="76x76" href="imges/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="imges/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="imges/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#EA5E5E">
        <meta name="msapplication-TileColor" content="#ea5e5e">
        <meta name="theme-color" content="#ea5e5e">
        
        


