<!DOCTYPE html>
<html lang="en">

<head>
    {{ partial "head/head.html" . }}
    <link rel="stylesheet" href="{{.Site.BaseURL}}style/scss/layout/privacy.css">

</head>

<body>
    
    <div class="swiper-container body-scroller">
        <div class="swiper-wrapper" style="height: auto;">
            <div class="swiper-slide" style="height: auto;">
    
                <div class="container">
                    <div class="privacy animated fadeIn">
                        <h1> privacy </h1>
                        
                        <h3>
                            We dont store your data,
                            We physically can't. We have nowhere to store it. We don't even have a server database to store it.
                        </h3>
        
                        <h2>Contact Us</h2>
                        <p>
                            lolhack2017@gmail.com
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    {{ partial "comp/main-nav" . }}

    {{ partial "scripts/jquery.html" . }}

    {{ partial "scripts/google-ads.html" . }}
    {{ partial "scripts/tracker-code.html" . }}

    {{ partial "scripts/swiper.html" . }}

</body>

</html>