<!DOCTYPE html>
<html lang="en">

<head>
    {{ partial "head/head.html" . }}
    <link rel="stylesheet" href="{{.Site.BaseURL}}style/scss/layout/indexpage.css">
</head>

<body>

    <div class="indexpage">
        <div id="install" class="install">
            <div class="container">
                <h2>Installation Instructions</h2>

                <ul class="images">
                    <li>
                        <img src="/imges/page-1.png">
                    </li>
                    <li>
                        <img src="/imges/page-2.png">
                    </li>
                    <li>
                        <img src="/imges/page-3.png">
                    </li>
                </ul>

                <ul class="steps">
                    <li>Load meditationhub.ga in the Chrome Web Browser.</li>
                    <li>Tap the 3 dots from the top right corner.</li>
                    <li>Select "Add to Home screen" from the available options.</li>
                    <li>Chrome will open a prompt and you will be able to add Meditation app icon to your home screen.
                        Launch the app once to ensure the install completes successfully.</li>
                </ul>

            </div>
        </div>
    </div>

    {{ partial "scripts/global.html" . }}
</body>
</html>