.body-scroller {
  height: 87vh;
  overflow-y: auto;
}

.main-nav {
  color: white;
  width: 80%;
  margin: auto;
  z-index: 3;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  @include small-mobile {
    width: 90%;
  }

  ul {
    text-align: center;
    width: 100%;

    li {
      display: inline-block;
      list-style: none;
      padding: 0rem 0px;

      &:nth-child(1) {
        float: left;
      }
      &:nth-child(3) {
        float: right;
      }

      img {
        width: 85%;

        @include small-mobile {
          width: 80%;
        }
      }
    }
  }
}
