.body-scroller {
  height: 87.9vh;
  overflow-y: auto;
  max-width: 700px;
  margin: auto;
}

.main-nav {
  color: white;
  width: 100%;
  max-width: 700px;
  margin: auto;
  z-index: 3;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: $red-color;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;


  ul {
    line-height: 0px;
    text-align: center;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    li {
      opacity: 1;
      display: inline-block;
      list-style: none;
      padding: .6rem 0px .3rem 0rem;
      width: (100%/4);
      
      @include small-mobile{
        padding: .2rem 0px .3rem 0rem;
      }

  
      p{
        font-size: .7rem;
        font-weight: 900;
        line-height: 0px;
        padding-bottom: .4rem;
        
        @include small-mobile{
          font-size: .6rem;
          padding: 0px;
          margin: 0px;
          padding-bottom: .3rem;
        }
      }

      img {
        width: 40px;
        height: 40px;

        @include small-mobile {
          width: 35%;
        }
      }
    
    }
  }
}
