footer{
    font-size: .9rem;
    text-align: center;
    padding-bottom: 1rem;

    a{
        text-decoration: underline;
    }

    p{
        color: white;
        span{
            opacity: .7;
        }
    }
}