<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{.Site.BaseURL}}style/scss/layout/404page.css">
</head>
<body>

    <div class="erorrpage">
        <div class="container">
            <h1>
                <span>.</span>
                404
                <span>.</span>
            </h1>
            
            <h2>
                looks like this page is missing dont worry we are working on it.
        
                <div class="btn">
                    <a href="/home">go to home</a>
                </div>
            </h2>
            

            {{ partial "comp/footer.html" .}}
        </div>
    </div>

</body>
</html>