<!DOCTYPE html>
<html lang="en">

<head>
    {{ partial "head/head.html" . }}
    <link rel="stylesheet" href="{{.Site.BaseURL}}style/scss/layout/setteings.css">
</head>

<body>

    <div class="swiper-container body-scroller">
        <div class="swiper-wrapper" style="height: auto;">
            <div class="swiper-slide" style="height: auto;">

                <div class="container">
                    <div class="setteings animated fadeIn">
                        <div class="top-nav">
                            {{ partial "comp/back-btn.html" . }}
                            <h2> Settings  </h2>
                        </div>
                        <ul>

                            <li class="changeName">
                                <button onclick="localStorage.clear();window.location.href = '/home';">Change Your Name <img src="/imges/edit.svg"></button >
                            </li>

                            <li>
                                <a href="#" class="sp_notify_prompt">Activate notifications</a>
                            </li>

                            <li>
                                <h3>About me</h3>
                                <p>
                                    hi am NourEldin a web designer and developer from egypt 
                                </p>
                            </li>

                            <li>
                                <p>if your a creator want to join us | or you want us to remove your sesstions from our app send us a message</p>
                            </li>

                            <li>
                                <h3>contact info</h3>
                                <p>
                                    lolhack2017@gmail.com 
                                </p>
                            </li>

                            <li class="coffe">
                                <a href="https://www.buymeacoffee.com/yuvNMQfC7" target="_blank">
                                    <img src="https://cdn.buymeacoffee.com/buttons/bmc-new-btn-logo.svg">
                                    <span>buy me a coffee</span>
                                </a>
                            </li>


                        </ul>

                        {{ partial "comp/footer.html" . }}
                    </div>
                </div>

            </div>
        </div>
    </div>

    {{ partial "comp/main-nav" . }}

    {{ partial "scripts/global.html" . }}

    {{ partial "scripts/swiper.html" . }}

</body>

</html>