<!DOCTYPE html>
<html lang="en">

<head>
    {{ partial "head/head.html" }}
    <link rel="stylesheet" href="{{.Site.BaseURL}}style/scss/layout/list-page.css">
</head>

<body>
    <div class="swiper-container body-scroller">
        <div class="swiper-wrapper" style="height: auto;">

            <div class="list-page animated fadeIn">
                <div class="container">

                    <div class="top-nav">
                        {{ partial "comp/back-btn" . }}
                        <h2> {{.Title}} sessions</h2>
                    </div>

                    <section>
                        <ul class="paginate-list">
                            {{ range .Paginator.Pages |  shuffle }}
                            
                            <li>
                                <a href="{{.URL}}">
                                    <div class="session-bg" style="background-image: url(https://i.ytimg.com/vi/{{.Params.youtubeId}}/hqdefault.jpg);">
                                        <div class="overlay">
                                            <div class="time">
                                                {{.Params.time}}
                                            </div>
                                        </div>
                                    </div>
                                    <h3>{{.Params.Title}}</h3>
                                </a>
                            </li>
                            {{end}}
                        </ul>
                    </section>

                </div>
            </div>

        </div>

        <div style="clear: both;"></div>
        <div class="pagination">
            {{ partial "comp/paginator.html" .}}
        </div>
        {{ partial "comp/footer.html" . }}
    </div>
    </div>

    {{ partial "comp/main-nav" . }}

    {{ partial "scripts/global.html" . }}
</body>

</html>