<!DOCTYPE html>
<html lang="en">

<head>
    {{ partial "head/head.html" . }}
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
    <link rel="stylesheet" href="{{.Site.BaseURL}}style/scss/layout/single.css">
</head>

<body>
    <div class="swiper-container body-scroller">
        <div class="swiper-wrapper" style="height: auto;">
            <div class="swiper-slide" style="height: auto;">

                <section class="single">
                    <div class="container">

                        <div class="top-nav animated fadeIn ">
                            {{ partial "comp/back-btn" . }}
                            <h2>your session is ready</h2>
                        </div>

                        <div class="video animated fadeIn delay-0-5">
                            <iframe class="animated FadeIn delay-0-5"
                                src="https://www.youtube.com/embed/{{.Params.youtubeId}}" frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>

                        <div class="animated fadeIn delay-1">
                            <div class="tags">
                                {{ range .Params.tags}}
                                <a href="/tags/{{. | urlize}}/">#{{.}}</a>
                                {{end}}
                            </div>


                            <h1 class="title"> {{.Title}} </h1>


                            {{if not ( in (.Site.BaseURL | string) "localhost" )}}
                            <div class="views">
                                <p id="visits">52</p><span> views</span>
                            </div>
                            {{end}}

                            <div class="author">
                                <h3>
                                    Author:
                                    {{ range .Params.stars}}
                                    <a href="/stars/{{. | urlize}}/">{{.}}</a>
                                    {{end}}
                                </h3>
                            </div>

                            <div class="dis">
                                <p>
                                    {{.Params.dis}}
                                </p>
                            </div>

                            {{ partial "comp/report.html" . }}
                        </div>

                    </div>
                </section>
                <!-- Swiper -->
                <section>

                    <div class="sessions-slider animated fadeIn delay-1-5">

                        <div class="container headding">
                            <h2>Recommended For You:</h2>
                        </div>

                        <div class="swiper-wrapper">
                            {{ $related:= .Site.RegularPages.Related . | first 5 | shuffle }}
                            {{ with $related }}
                            {{ range .}}
                            {{partial "comp/sessions-slider" .}}
                            {{end}}
                            {{end}}
                        </div>
                    </div>

                </section>
                <!-- the disqus comments system -->
                <div class="container">
                    <div id="disqus_thread"></div>
                </div>

                {{ partial "comp/footer.html" . }}
            </div>

        </div>
    </div>
    </div>

    {{ partial "comp/main-nav" . }}
    <!--
            Website End 
        -->

    {{ partial "scripts/global.html" .}}
    {{if not ( in (.Site.BaseURL | string) "localhost" )}}
    {{ partial "scripts/counter.html" .}}
    {{end}}
    {{ partial "scripts/swiper.html" . }}
    {{ partial "scripts/sessions-slider.html" . }}
    {{ partial "scripts/comments.html" . }}

</body>

</html>