<!DOCTYPE html>
<html lang="en">

<head>
    {{ partial "head/head.html" . }}
    <link rel="stylesheet" href="{{.Site.BaseURL}}style/scss/layout/meditation.css">
</head>

<body>


    <div class="swiper-container body-scroller">
        <div class="swiper-wrapper" style="height: auto;">
            <div class="swiper-slide" style="height: auto;">

                <div class="container">
                    <div class="meditation">
                        <h2> Meditation </h2>
                        <p> comming soon page... </p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    {{ partial "comp/main-nav" . }}


</body>

</html>