<!DOCTYPE html>
<html lang="en">

<head>
    {{ partial "head/head.html" . }}
    <link rel="stylesheet" href="{{.Site.BaseURL}}style/scss/layout/meditation.css">
</head>

<body>


    <div class="swiper-container body-scroller">
        <div class="swiper-wrapper" style="height: auto;">
            <div class="swiper-slide" style="height: auto;">

                <div class="container">
                    <div class="meditation">
                        
                        <div class="top-nav">
                            {{ partial "comp/back-btn"  . }}
                            <h2> Meditation </h2>
                        </div>

                        <div class="player" style="background: url(https://4.bp.blogspot.com/-SD4zFuoXvD8/T3hWgvInjCI/AAAAAAAAAEI/sEuPy4qLEHQ/s1600/20060408rainonwindow.jpg);">
                            <div class="overlay">
                                <button onclick="play()"><img id="btn-play" src=""></button>
                            </div>
                        </div>

                        <p class="credit"> Credit: <a href="https://rainymood.com/">https://rainymood.com/</a></p>

                    </div>
                </div>


            </div>
        </div>
    </div>

    {{ partial "comp/main-nav.html" . }}

    {{ partial "scripts/jquery.html" . }}

    {{ partial "scripts/google-ads.html" . }}
    {{ partial "scripts/tracker-code.html" . }}

    {{ partial "scripts/swiper.html" . }}


<script>
        
        const song = new Audio();

        song.src = "https://rainymood.com/audio1110/0.m4a";
        
        $("#btn-play").attr("src","/imges/play-white.svg");
        
        function play(){
            if(song.paused){
                song.play();
                $("#btn-play").attr("src","/imges/pause.svg");
            }else if(song.play){
                song.pause();
                $("#btn-play").attr("src","/imges/play-white.svg");
            }
        }

    </script>

</body>

</html>