<div class="main-nav" id="main-nav">
    <ul>
        <li>
            <a href="/home"><img src="{{.Site.BaseURL}}imges/home.svg">
                <p>Home</p>
            </a>
        </li>
        
        <li>
            <a href="/authors"><img src="{{.Site.BaseURL}}imges/authors.svg">
                <p>Authors</p>
            </a>
        </li>
        
        <li>
            <a href="/meditation"><img src="{{.Site.BaseURL}}imges/meditation.svg">
                <p>Sounds</p>
            </a>
        </li>
        
        <li>
            <a href="/setteings"><img src="{{.Site.BaseURL}}imges/settings.svg">
                <p>Setteings</p>
            </a>
        </li>
    </ul>
</div>