/*
            Made by : NOUR ELDIN CODE
 
            ╔══╗ 
            ╚╗╔╝
            ╔╝╚(¯`v´¯)Coding 
            ╚══ `.¸.´   THIS WEBSITE MADE BY LOVE ( ͡° ͜ʖ ͡°)
*/

//WEBSITE FILES IMPORT

//global fonts
@import '../global/fonts';
//Var
@import '../helpers/var';
//Animations
//RESPONSIVE
@import '../helpers/responsive';
//RESET
@import '../helpers/reset';

/*
    /////////////////////
         Home page styles
    /////////////////////
*/

.indexpage{

    header{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-position: right;
        background-size: cover;
        background-repeat: no-repeat;
        
        @include laptop{
            background-image: none !important;
            text-align: center;
        }


        img{
            width: 10%;

            @include laptop{
                width: 20%;
            }
        }
        .content{
            width: 75%;

            @include laptop{
                width: 100%;
            }

            h1{
                font-size: 2.2rem;

                @include tap{
                    font-size: 1.4rem;
                }
            }

            .btn{
                margin-top: 1rem;
                a{
                    padding: .4rem 3rem;
                    border-radius: 5px;
                    background: $red-color;
                    text-transform: uppercase;
                    font-weight: 900;

                    @include tap{
                        font-size: .8rem;
                    }
                }
            }
        }
    }

    .install{
        text-transform: capitalize;
        margin-bottom: 9rem;

        @include laptop{
            text-align: center;
        }

        .images{
            padding: 1rem 0px;
            li{
                list-style: none;
                display: inline-block;
                width: 25%;
                padding-right: 1.5rem;

                &:last-child{
                    padding: 0px;
                }

                @include laptop{
                    width: 30%;
                }
                @include mobile{
                    display: block;
                    width: 50%;
                    text-align: center;
                    margin: auto;

                    img{
                        border-radius: 30px;
                    }
                }
                @include small-mobile{
                    width: 70%;
                }

                img{
                    width: 100%;
                }
            }
        }

        h2{
            @include laptop{
                text-align: center;
            }
        }

        .steps{
            padding: 0rem 0rem 1rem 1.2px;
            width: 80%;
            
            @include laptop{
                width: 100%;
                padding: 1rem 0rem;
            }

            li{
                list-style: decimal;
                color: $white-color;
                padding: .3rem 0px;

                @include laptop{
                    list-style: none;
                }
            }
        }
    }
}















