/*
            Made by : NOUR ELDIN CODE
 
            ╔══╗ 
            ╚╗╔╝
            ╔╝╚(¯`v´¯)Coding 
            ╚══ `.¸.´   THIS WEBSITE MADE BY LOVE ( ͡° ͜ʖ ͡°)
*/

//WEBSITE FILES IMPORT

//global fonts
@import '../global/fonts';
//Var
@import '../helpers/var';
//Animations
@import '../helpers/animation';
//RESPONSIVE
@import '../helpers/responsive';
//RESET
@import '../helpers/reset';
        
/*
    /////////////////////
         footer page styles
    /////////////////////
*/
@import '../comp/footer';
@import '../comp/main-nav';
@import '../comp/back-btn';
@import '../comp/ads';

.ads{
    margin: 1rem auto 0px auto;
}

footer{
    padding-top: 1rem;
}
.main-nav{
    li{
        opacity: .7 !important;
        &:nth-of-type(3){
            opacity: 1 !important;
        }
    }
}

.meditation{
    @import '../comp/headding';
 
    .player{
        width: 300px;
        height: 300px;
        margin: 2rem auto;
        border-radius: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border: 6px solid $red-color;
        box-shadow: 0px 0px 20px $red-color;

        .overlay{
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,.5);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;

            button{
                background: none;
                border: none;
            }
        }
    }
    
    .credit{
        text-align: center;
         
        a{
            text-decoration: underline;
            color: $red-color;
        }
    }
}

