/*
            Made by : NOUR ELDIN CODE
 
            ╔══╗ 
            ╚╗╔╝
            ╔╝╚(¯`v´¯)Coding 
            ╚══ `.¸.´   THIS WEBSITE MADE BY LOVE ( ͡° ͜ʖ ͡°)
*/

//WEBSITE FILES IMPORT

//global fonts
@import '../global/fonts';
//Var
@import '../helpers/var';
//Animations
@import '../helpers/animation';
//RESPONSIVE
@import '../helpers/responsive';
//RESET
@import '../helpers/reset';

/*
    /////////////////////
         Home page styles
    /////////////////////
*/
@import '../comp/main-nav';
@import '../comp/back-btn';
@import '../comp/footer';

.setteings{
    @import '../comp/headding';
    text-align: center;

    ul{
       padding: 1rem 0px; 
        li{
            text-transform: capitalize;
            padding: .5rem 0px;

            h3{
                text-decoration: underline;
                text-decoration-color: $red-color;
            }
            p{
                font-size: .9rem;
                opacity: .8;
            }
        }
    }
}









