/*
            Made by : NOUR ELDIN CODE
 
            ╔══╗ 
            ╚╗╔╝
            ╔╝╚(¯`v´¯)Coding 
            ╚══ `.¸.´   THIS WEBSITE MADE BY LOVE ( ͡° ͜ʖ ͡°)
*/

//WEBSITE FILES IMPORT

//global fonts
@import '../global/fonts';
//Var
@import '../helpers/var';
//Animations
@import '../helpers/animation';
//RESPONSIVE
@import '../helpers/responsive';
//RESET
@import '../helpers/reset';

/*
    /////////////////////
         Home page styles
    /////////////////////
*/
@import '../comp/main-nav';
@import '../comp/session-slider';
@import '../comp/footer';

.single{
    .top-nav{
        padding: 2rem 0px 1rem 0px;
        
        h2{
            text-align: center;
            text-transform: capitalize;
            font-family: $extrafont;
            font-size: 1.7rem;
            @include mobile{                
                font-size: 1.3rem;
            }
        }
        img{
            width: 7%;
            float: left;
            
            @include small-mobile{
                width: 9%;
            }
        }
    }
    iframe{
        width: 100%;
        height: 300px;
        border-radius: 10px;

        @include mobile{
            height: 230px;
        }
    }

    .tags{
        padding-top: .5rem;

        a{
            color: $red-color;
            font-size: .8rem;
            text-transform: capitalize;
            padding-right: .4rem;

            &:last-child{
                padding: 0;
            }
        }
    }

    .title{
        font-size: 1rem;
        padding-bottom: 1rem;
    }

    .author{
        h3{
            text-transform: capitalize;        
            font-size: 1rem;

            a{
                color: $red-color;
                padding-left: .3rem;
            }
        }
    }
    
    .dis{
        margin: .5rem 0px;
        padding: .5rem;
        height: 50px;
        overflow: auto;
        background: #2a3942;
        border-radius: 5px;

        p{
            opacity: .9;
            font-size: .8rem;
            text-transform: capitalize;
        }
    }
}











