<!DOCTYPE html>
<html lang="en">

<head>
    {{ partial "head/head.html" . }}
    <link rel="stylesheet" href="{{.Site.BaseURL}}style/scss/layout/indexpage.css">
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>

<body>
    <div class="indexpage">
        <header style="background-image: url({{.Site.BaseURL}}imges/header.svg);">
            <div class="container">
                <div class="content">
                    <img src="{{.Site.BaseURL}}imges/logo/small-logo.svg" alt="logo">
                    <h1 style="text-transform: capitalize;">The best meditation app for relaxing <br> the mind and body</h1>
                    <div class="btn">
                        <a href="#install">Download now</a>
                    </div>
                </div>
            </div>
        </header>


        <div id="install" class="install">
            <div class="container">
                <h2>Installation Instructions</h2>

                <ul class="images">
                    <li>
                        <img src="/imges/page-1.png">
                    </li>
                    <li>
                        <img src="/imges/page-2.png">
                    </li>
                    <li>
                        <img src="/imges/page-3.png">
                    </li>
                </ul>

                <ul class="steps">
                    <li>Load meditationhub.ga in the Chrome Web Browser.</li>
                    <li>Tap the 3 dots from the top right corner.</li>
                    <li>Select "Add to Home screen" from the available options.</li>
                    <li>Chrome will open a prompt and you will be able to add Meditation app icon to your home screen.
                        Launch the app once to ensure the install completes successfully.</li>
                </ul>

            </div>
        </div>
    </div>

    {{ partial "scripts/jquery.html" . }}
    {{ partial "scripts/tracker-code.html" . }}
    {{ partial "scripts/google-ads.html" . }}

    //Netlify CMS
    <script>
        if (window.netlifyIdentity) {
            window.netlifyIdentity.on("init", user => {
                if (!user) {
                    window.netlifyIdentity.on("login", () => {
                        document.location.href = "/admin/";
                    });
                }
            });
        }
    </script>
</body>

</html>