<!DOCTYPE html>
<html lang="en">

<head>
    {{ partial "head/head.html" . }}
    <link rel="stylesheet" href="{{.Site.BaseURL}}style/scss/layout/indexpage.css">
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>

<body>
    <div class="indexpage">
        <header style="background-image: url({{.Site.BaseURL}}imges/header.svg);">
            <div class="container">

                <div class="content">

                    <img src="{{.Site.BaseURL}}imges/logo/small-logo.svg" alt="logo">
                    <h1 style="text-transform: capitalize;">The best meditation app for relaxing mind <br> and body</h1>

                    <form name="email" method="POST" data-netlify="true" action="/download">
                        
                        <p>Email: <p/>
                        <input required type="email" name="email" placeholder="Your Email Here" />
                        <div class="btn">
                            <button type="submit">DOWNLOAD NOW (it's free)</button>
                        </div>
                    </form>
                </div>
            </div>
        </header>
    </div>

    {{ partial "scripts/global.html" . }}

    //Netlify CMS
    <script>
        if (window.netlifyIdentity) {
            window.netlifyIdentity.on("init", user => {
                if (!user) {
                    window.netlifyIdentity.on("login", () => {
                        document.location.href = "/admin/";
                    });
                }
            });
        }
    </script>
</body>

</html>