/*
    /////////////////////
        animations
    /////////////////////
*/
//FADE IN ANYMATION
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeIn {
  animation-name: fadeIn;
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.08, 1.08, 1.08);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  animation-name: pulse;
  animation-iteration-count: infinite;
  animation-duration: 2.4s !important;
}

.animated {
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

.delay-0-5 {
  animation-delay: 0.4s !important;
}
.delay-1 {
  animation-delay: .8s !important;
}
.delay-1-5 {
  animation-delay: 1.1s !important;
}
.delay-2 {
  animation-delay: 1.5ss !important;
}
