<!DOCTYPE html>
<html lang="en">

<head>
    <!-- 
            the site head
        -->
    {{ partial "head/head.html" . }}

    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
    <link rel="stylesheet" href="{{.Site.BaseURL}}style/scss/layout/homepage.css">
</head>

<body>

    <!-- 
            Website Start 
        -->

    <!--- Demo content --->
    <!--
        -->
        
    {{ partial "comp/login-page.html" . }}

    <div class="swiper-container body-scroller" id="page-content">
        <div class="swiper-wrapper" style="height: auto;">
            <div class="swiper-slide" style="height: auto;">
                {{ partial "comp/top-nav.html" . }}
                <div style="clear: both;"></div>
                {{ partial "comp/header.html" . }}

                <section>
                    <div class="sessions-slider animated fadeIn delay-1-5">
                        <div class="container headding">
                            <h2>
                                New Sessions:
                                <a href="{{.Site.BaseURL}}sessions">more</a>
                            </h2>
                        </div>
                        <div class="swiper-wrapper">
                            {{ with .Site.GetPage "sessions" }}
                            {{ range .Pages | first 10 | shuffle }}
                            {{ partial "comp/sessions-slider" . }}
                            {{end}}
                            {{end}}
                        </div>
                    </div>
                </section>

                <section>
                    <div class="sessions-slider animated fadeIn delay-1-5">
                        <div class="container headding">
                            <h2>
                                deep sleep Sessions:
                                <a href="{{.Site.BaseURL}}tags/sleep">more</a>
                            </h2>
                        </div>
                        <div class="swiper-wrapper">
                            {{ with .Site.GetPage "tags/sleep" }}
                            {{ range .Pages | first 10 | shuffle }}
                            {{ partial "comp/sessions-slider" . }}
                            {{end}}
                            {{end}}
                        </div>
                    </div>
                </section>

                <section>
                    <div class="sessions-slider animated fadeIn delay-1-5">
                        <div class="container headding">
                            <h2>
                                10min Sessions:
                                <a href="{{.Site.BaseURL}}tags/10min">more</a>
                            </h2>
                        </div>
                        <div class="swiper-wrapper">
                            {{ with .Site.GetPage "tags/10min" }}
                            {{ range .Pages | first 10 | shuffle }}
                            {{ partial "comp/sessions-slider" . }}
                            {{end}}
                            {{end}}
                        </div>
                    </div>
                </section>

                <section class="tags container">
                    {{ with .Site.GetPage "/tags"}}
                    {{range .Pages | first 20 | shuffle}}
                    <a href="{{.URL}}">#{{.Title}}<span>,</span></a>
                    {{end}}
                    {{end}}
                </section>

                {{ partial "comp/ads.html" . }}

                {{ partial "comp/footer.html" . }}
            </div>
        </div>
    </div>

    {{ partial "comp/main-nav" . }}

    <!--
            Website End 
        -->
    {{ partial "scripts/global.html" . }}
    
    {{ partial "scripts/login-page.html" . }}

    {{ partial "scripts/search.html" . }}

    {{ partial "scripts/swiper.html" . }}
    {{ partial "scripts/header-slider.html" . }}
    {{ partial "scripts/sessions-slider.html" . }}

</body>

</html>