    <header class="header animated fadeIn delay-1">
        <!-- Slider main container -->
        <div class="header-slider swiper-container">

            <div class="swiper-wrapper">
                <!-- Slides -->
                {{ with .Site.GetPage "/stars/psychetruth"}}
                    {{range .Pages | first 3 | shuffle }}
                    <div class="swiper-slide">
                        <div class="header-bg" style="background-image: url(https://i.ytimg.com/vi/{{.Params.youtubeId}}/mqdefault.jpg);">
                            <div class="overlay">
                              <a href="{{.URL}}"><img src="{{.Site.BaseURL}}imges/play.png" alt="play"></a>
                            </div>
                        </div>
                    </div>
                    {{end}}
                {{end}}

                {{ with .Site.GetPage "/stars/adriene"}}
                    {{range .Pages | first 3 | shuffle }}
                    <div class="swiper-slide">
                        <div class="header-bg" style="background-image: url(https://i.ytimg.com/vi/{{.Params.youtubeId}}/mqdefault.jpg);">
                            <div class="overlay">
                              <a href="{{.URL}}"><img src="{{.Site.BaseURL}}imges/play.png" alt="play"></a>
                            </div>
                        </div>
                    </div>
                    {{end}}
                {{end}}
            </div>
        </div>
    </header>    