<div class="login-page" id="login-page">
    <div class="container">
        <img class="logo" src="{{.Site.BaseURL}}imges/logo/logo.svg" alt="logo-image">
        <div class="content">
            <h1>Start Your Meditation Journey <br> Today</h1>
            <form>
                <p>What is your name</p>
                <input id="userName" type="text" placeholder="Type Your Name Here...">
                <br>
                <button onclick="myName()">start now</button>
            </form>
            <h3>We dont collect or store your data. <br> <a href="/privacy">Privacy Policy</a></h3>
        </div>
        
    </div>
</div>