<!-- Swiper -->
<section>

    <div class="sessions-slider animated fadeIn delay-1-5">
    
        <div class="container headding">
            <h2>Recommended For You:</h2>
        </div>
    
        <div class="swiper-wrapper">
            {{ $related:= .Site.RegularPages.Related . | first 5 | shuffle }}
            {{ with $related }}
                {{ range .}}
                    <div class="swiper-slide">
                        <a href="{{.URL}}">
                            <div class="session-bg" style="background-image: url({{.Params.thumbnail}});">
                                <div class="overlay">
                                    <div class="time">
                                        {{.Params.time}}
                                    </div>
                                </div>
                            </div>
                            <h3>{{.Params.Title}}</h3>
                        </a>
                    </div>
                {{end}}
            {{end}}
        </div>
    </div>

</section>
