<!---- jquery Code ---->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-146859399-4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-146859399-4');
</script>

<!--push script-->
<script charset="UTF-8" src="//web.webpushs.com/js/push/08e06d52c373ef6a279a4cf18e811cfa_1.js" async></script>