<!---- Smoth Scrolling Effect ---->
<!--
        <script src="js/jquery.nicescroll.min.js"></script>
        <script>
             $(function() {  
                $("body").niceScroll({
              
                    cursorwidth: "7px",
                    cursorcolor: "#11144C",
                    railpadding: { top: 10, right: 3, left: 0, bottom: 0 },
                    smoothscroll: true,
                    cursorborder: "0px solid #fff",
                    cursoropacitymin: 0.4,
                    scrollspeed: 200,
                    mousescrollstep: 60
                });
            });
        </script>              
        -->
<!---Main JS Code -->

<!-- Swiper scrip -->



