<!---- JS and JQ Codes ---->
<!--[if lt IE 9]>
            <script src="js/html5shiv.min.js"></script>
        <![endif]-->
<!---- jquery Code ---->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!---- Smoth Scrolling Effect ---->
<!--
        <script src="js/jquery.nicescroll.min.js"></script>
        <script>
             $(function() {  
                $("body").niceScroll({
              
                    cursorwidth: "7px",
                    cursorcolor: "#11144C",
                    railpadding: { top: 10, right: 3, left: 0, bottom: 0 },
                    smoothscroll: true,
                    cursorborder: "0px solid #fff",
                    cursoropacitymin: 0.4,
                    scrollspeed: 200,
                    mousescrollstep: 60
                });
            });
        </script>              
        -->
<!---Main JS Code -->

<!-- Swiper scrip -->
<script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
<script>
    var mySwiper = new Swiper('.swiper-container', {
        // Optional parameters
        //direction: 'vertical',
    })

    var mySwiper = new Swiper('.header-slider', {
        // Optional parameters
        //direction: 'vertical',
        loop: false,

        autoplay: {
            delay: 3000,
            disableOnInteraction: false,
        },
    })


    var swiper = new Swiper('.sessions-slider', {
        slidesPerView: 1.3,
        spaceBetween: 25,
        freeMode: true,
        //loop: true,

        breakpoints: {
            480: {
                slidesPerView: 1.7,
                spaceBetween: 25,
            },
            640: {
                slidesPerView: 2,
                spaceBetween: 25
            }
        }
    });


    var emptystring = "";
    
    function search() {
        var path = "{{.Site.BaseURL}}sessions/";
        var meditationTitle = document.getElementById("meditationTitle").value;
        var meditationTitle = meditationTitle.replace(/\s/g, '-');
        var meditationTitle = meditationTitle.toLowerCase();
        var url = path + meditationTitle;
        //window.open(path+moveName);
        if(meditationTitle == emptystring){
            alert("Add some text to search");
        }else{
            window.location = url;
        }
    }

    const loginPage = document.getElementById("login-page");
    loginPage.style.display = 'none';

    function myName(){
        const nameVal = document.getElementById("userName").value;

        if(nameVal == emptystring){
            alert("Please Enter Your Name");
        }else{
            localStorage.setItem('userName', nameVal);
        }
    }

    const userName_storage = localStorage.getItem("userName");
    const hello = document.getElementById("hello");
    const helloMsg = ` welcome back ${userName_storage}`;

    const pageContent = document.getElementById("page-content");
    const mainNav = document.getElementById("main-nav");
    hello.innerHTML += helloMsg

    if(userName_storage == null){
        loginPage.style.display = 'block';
        pageContent.style.display = 'none';
        mainNav.style.display = 'none';
    }else{
        loginPage.style.display = 'none';
        pageContent.style.display = 'block';
        mainNav.style.display = 'block';
    }




</script>