<!DOCTYPE html>
<html lang="en">

<head>
    {{ partial "head/head.html" . }}

    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
    <link rel="stylesheet" href="{{.Site.BaseURL}}style/scss/layout/howto.css">
</head>

<body>

    <div class="swiper-container body-scroller">
        <div class="swiper-wrapper" style="height: auto;">
            <div class="swiper-slide" style="height: auto;">

                <div class="howto">

                    <div class="container">

                        <div class="top-nav">
                            {{ partial "comp/back-btn.html" . }}
                            <h2> how to meditate </h2>
                        </div>
                    </div>


                    <div style="clear: both;"></div>

                    <section>
                        <div class="sessions-slider animated fadeIn delay-1-5">
                            <div class="container headding">
                                <h2>
                                    lets get started:
                                </h2>
                            </div>
                            <div class="swiper-wrapper">
                                {{ with .Site.GetPage "/howto" }}
                                {{ range .Pages | first 10 | shuffle }}
                                {{ partial "comp/sessions-slider" . }}
                                {{end}}
                                {{end}}
                            </div>
                        </div>
                    </section>

                    <section>
                        <div class="sessions-slider animated fadeIn delay-1-5">
                            <div class="container headding">
                                <h2>
                                    why to meditate:
                                </h2>
                            </div>
                            <div class="swiper-wrapper">
                                {{ with .Site.GetPage "/whyto" }}
                                {{ range .Pages | first 10 | shuffle }}
                                {{ partial "comp/sessions-slider" . }}
                                {{end}}
                                {{end}}
                            </div>
                        </div>
                    </section>


                </div>

                {{ partial "comp/ads.html" . }}

                {{ partial "comp/footer.html" . }}
            </div>

        </div>
    </div>
    </div>

    {{ partial "comp/main-nav" . }}

    {{ partial "scripts/global.html" . }}
    {{ partial "scripts/swiper.html" . }}

    {{ partial "scripts/sessions-slider.html" . }}

</body>

</html>